@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-orbitron), system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.font-orbitron {
  font-family: var(--font-orbitron), system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: black;
}